<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

<h1>Stupid Coaching</h1>

<div class="question w3-container w3-pale-blue w3-leftbar w3-border-blue">
  <p><%=(params[:question])%> </p>
  <p> -
</div>

<div class= "answer">
  <p><%= @answer %> <br><br> - Your coach </p>
</div>
