// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  color: #2E4052;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.question {
  color: #2E4052;
  font-family: 'Open Sans', sans-serif;
  background: #FFC857;
  border-left-style: solid;
  border-width: 5px;
  text-indent: 10px;
}

.answer {
  color: #2E4052;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background: #FFC857;
}

